{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>{{ werd.title|striptags }} | Fix Your Fucking English</title>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="{% static 'fyfe/style/fyfe.css' %}" />
		<script src="{% static 'fyfe/script/jquery-2.0.3.min.js' %}"></script>
		<script src="{% static 'fyfe/script/index.js' %}"></script>
		<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-33970856-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
	</head>
	<body>
		<h1>Fix Your Fucking English</h1>
		<div id="container">
