/*I always have to give props: Thank you Eric Meyer for the reset.*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}



$highlight-color: #6d0104;

body{
    background-color: #f3ece0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #7c7973;
}

h1{
    font-size: 14px;
    color: #c2bdb4;
    position: absolute;
    left: 10px;
    top: 10px;
}

h1::after{
    content: " (.com)";
}

h2{
    font-size: 32px;
    text-align: center;
}

h3{
    font-size: 20px;
    text-align: center;
}

em{
    color: $highlight-color;
}

#container{
    padding-top: 30px;
    width: 600px;
    margin: 0 auto;
}

#main{
    margin-bottom: 30px;
}

#wtf{
    margin: 0 auto 10px auto;
    width: 200px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

#wtf:hover #arrow1, #wtf:hover #arrow2{
    color: $highlight-color;

    -webkit-transition: color 500ms linear;
}

#arrow1, #arrow2{
    display: inline-block;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);

    -webkit-transition: -webkit-transform 200ms linear, color 500ms linear;
    -moz-transition: -moz-transform 200ms linear, color 500ms linear;
    -o-transition: -o-transform 200ms linear, color 500ms linear;
    -ms-transition: -ms-transform 200ms linear, color 500ms linear;
}

#arrow1.spun{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);

    -webkit-transition: -webkit-transform 200ms linear, color 500ms linear;
    -moz-transition: -moz-transform 200ms linear, color 500ms linear;
    -o-transition: -o-transform 200ms linear, color 500ms linear;
    -ms-transition: -ms-transform 200ms linear, color 500ms linear;
}

#arrow2.spun{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);

    -webkit-transition: -webkit-transform 200ms linear, color 500ms linear;
    -moz-transition: -moz-transform 200ms linear, color 500ms linear;
    -o-transition: -o-transform 200ms linear, color 500ms linear;
    -ms-transition: -ms-transform 200ms linear, color 500ms linear;
}

#dropdown{
    width: 400px;
    margin: 0 auto;
    background-color: #e3ddd3;
    padding: 5px;

    &.collapsed{
        display: none;
    }
}

#more{
    text-align: center;
    margin-top: 40px;

    &> a{
        display: block;
        margin-top: 5px;
    }
}

a{
    text-decoration: none;
    color: #4b4a46;

    &:hover{
        text-decoration: underline;
    }
}

.top{
    margin-top: 10px;
}

.sep{
    margin: 10px 0 10px 0;
}

hr{
    border: 0;
    height: 0;
    margin: 6px 0 6px 0;
}
